{% extends 'base_admin.html.twig' %}

{% block title %}Liste des articles!{% endblock %}

{% block body %}

<div class = "jumbotron">
    <h1 style="text-align:center"><mark>Articles</mark></h1>
    <a href="{{ path('home') }}" class="btn btn-info">Retour au menu principale</a> 
</div>
<a class="btn btn-warning" style="color:white" href="{{ path('admin_createArt') }}" role="button" >Créer</a>
<hr>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Titre</th>
        <th>Contenu</th>
        <th>Image</th>
        <th>Date</th>
        <th>Titre catégorie</th>
        <th>Id catégorie</th>
    </tr>
    {%for article in articles %}
        <tr>
            <td>{{ article.id }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.content }}</td>
            <td>{{ article.image }}</td>
            <td>{{ article.createdAt | date('d/m/Y H:i') }}</td>
            <td>{{ article.category.title }}</td>
            <td>{{ article.category.id }}</td>
            <td><a class="btn btn-info" style="color:white" href="{{ path('admin_editArt', {'id':article.id}) }}" role="button" >Modifier</a></td>
            <td><a class="btn btn-danger" style="color:white" href="{{ path('admin_deleteArt', {'id':article.id}) }} " role="button" >Supprimer</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}