{% extends 'base_admin.html.twig' %}

{% block title %}Liste des commentaires!{% endblock %}

{% block body %}

<div class = "jumbotron">
    <h1 style="text-align:center"><mark>Commentaire</mark></h1>
</div>
<td><button type="submit" style="background-color:#6174D1" href="#" class="btn btn-primary">Créer</button></td>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Auteur</th>
        <th>Contenu</th>
        <th>Date</th>
        <th>Titre article</th>
    </tr>
    {%for commentaire in commentaires %}
        <tr>
            <td>{{ commentaire.id }}</td>
            <td>{{ commentaire.author }}</td>
            <td>{{ commentaire.content }}</td>
            <td>{{ commentaire.createdAt | date('d/m/Y H:i') }}</td>
            <td>{{ commentaire.article.title }}</td>
            <td><button type="submit" class="btn btn-warning" href="#">Editer</button></td>
            <td><button type="submit" class="btn btn-danger">Supprimer</button></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}