{% extends 'base.html.twig' %}

{% block title %}Contenu de l'article{% endblock %}

{% block body %}

<div class = "jumbotron">
    <h1 style="text-align:center; background-color:yellow; text-decoration:underline">article n° : &nbsp {{ article.id }}</h1>
</div>    
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <h5><strong>Titre :</strong></h5>
            </div>
            <div class="col-8>">
                <h5>{{ article.title }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h5><strong>Contenu :</strong></h5>
            </div>
            <div class="col-8">
                <h5>{{ article.content }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h5><strong>date de parution :</strong></h5>
            </div>
            <div class="col-8">
                <h5>{{ article.createdAt | date('d/m/Y') }}</h5>
            </div>
        </div>
    </div>
    <hr>
    <div class = "content">
        <img src=" {{ article.image }} " alt="" width="220">
    </div>

{% endblock %}