{% extends 'base.html.twig' %}

{% block title %}Liste des catégories associées!{% endblock %}

{% block body %}

<div class = "jumbotron">
    <h1 style="text-align:center; background-color:green; text-decoration:underline">Catégorie n° : &nbsp {{ category.id }}</h1>
    <category>
        <h2 style="text-align:center">{{ category.title }}</h2>
        <h3>{{ category.content }}</h3>
    </category>
</div>
<hr>
<div>
    <section class="article">
        <div>
            <h2>Les articles de cette catégorie :</h2>
             {% for article in category.article %}
                <ul style:"text-align:center">
                    <li><p class="text-primary">{{ article.title }} du {{ article.createdAt | date('d/m/Y)')  }} </p></li>
                </ul>
            {% endfor %}   
        </div>
    </section>
</div>

{% endblock %}