{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="jumbotron" style="background-color:DeepSkyBlue">
    {% if editMode %}
        <h1 style ="text-align:center">Modification de l'article</h1>                
    {% else %}
        <h1 style ="text-align:center">Création d'un article</h1>
    </div>
    {% endif %}

    {{ form_start(formArticle) }}
    {{ form_start(formCategory) }}

    {{ form_row(formArticle.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
    {{ form_row(formArticle.content, {'attr': {'placeholder': "Contenu de l'article"}}) }}
    {{ form_row(formArticle.image, {'attr': {'placeholder': "URL de l'image"}}) }}

    {{ form_row(formCategory.content, {'attr': {'placeholder': "Contenu de la catégorie"}}) }}
    <button type="submit" class="btn btn-success">
    {% if editMode %}
        Modifier
    {% else %}
        Ajouter l'article
    {% endif %}
    </button>
    
    {{ form_end(formArticle) }}
    {{ form_end(formCategory) }}
{% endblock %}