{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}/recherche{% endblock %}

{% block body %}

<div class = "jumbotron" style="background-color:cyan">
    <div class="container">
        <div class="row">
            <div class="col-4">
                {{ form_start(formRecherche) }}

                {{ form_row(formRecherche.categoryArticle, {'attr': {'placeholder': "Occurrence d'une catégorie"}}) }}
                {{ form_row(formRecherche.titreArticle, {'attr': {'placeholder': "Occurrence d'un article"}}) }}
                <button type="submit" class="btn btn-info">Recherche</button>

                {{ form_end(formRecherche) }}
            </div>   
            <div class="col"> 
                <section class='categories'>
                    <h3>Liste des articles pour la categorie recherchée :</h3>
                    {% for recherche in recherches %}
                    <ul>
                        <li>
                            <p>{{ recherche.title }}</p>
                        </li>
                        <li>
                            <p>{{ recherche.content }}</p>
                        </li>
                    </ul>
                            <p><img src="{{ recherche.image }}" alt="{{ recherche.image }}"></p>
                            <hr>
                    
                     {% endfor %}
                </section>  
            </div>
        </div>
    </div>
</div>
    <hr>
<div>
    <section class='categories'>
    <h1 style="text-align:center"><strong>Les catégories :</strong></h1>
        {%for category in categories %}
        <category>
            <ul>
                <li>
                    <h2>{{ category.title }}</h2>
                    <h3>{{category.content}}</h3>
                    <p>{{ category.description }}</p>
                </li>
            </ul>
        </category>
        <hr>
        {% endfor%}
    </section>
</div>  
{% endblock %}