{% extends 'base.html.twig' %}

{% block title %}Liste des Biens!{% endblock %}

{% block body %}

<div class = "jumbotron">
       <article>
          <h2>{{article.title}}</h2>
          <div class = "metadata"> Ecrit le <strong>{{ article.createdAt | date('d/m/Y)') }}</strong> à {{ article.createdAt | date  ('H:i') }} dans la catégorie {{ article.category.content }}
          </div>
          <div class = "content">
               <img src=" {{ article.image }} " alt="">
               </br>
               {{ article.content | raw}}  
          </div>      
       </article>
       </br>
       <div>
          <section class="commentaires">
               {% for commentaire in article.commentaires %}
                    <div class="content">
                         <p>{{ commentaire.content | raw}}</p></br> 
                         <p>{{ commentaire.author }}</p>
                         <p><strong>{{ article.createdAt | date('d/m/Y)') }}</strong> à {{ article.createdAt | date  ('H:i') }}</p> 

                    </div>
                    
               {% endfor %}
          </section>
       </div>
</div>

{% endblock %}