{% extends 'base.html.twig' %}

{% block title %}Liste des Biens!{% endblock %}

{% block body %}

<div class = "jumbotron">
       <article>
            <h2>{{ article.title }}</h2>
            <div class = "metadata"> Ecrit le {{ article.createdAt | date('d/m/Y)') }} à {{ article.createdAt | date  ('H:i') }} dans la catégorie {{ article.category.content }}
            </div>
             <div class = "content">
                 <img src=" {{ article.image }} " alt="">
                </br>
                {{ article.content | raw}}  
            </div>          
       </article> 

{% endblock %}