{% extends 'base.html.twig' %}

{% block title %}Liste des Biens!{% endblock %}

{% block body %}

<div class = "jumbotron">
     <article>
          <h2>{{article.title}}</h2>
          <div class = "metadata"> Ecrit le &nbsp<strong>{{ article.createdAt | date('d/m/Y)') }}</strong>&nbsp à &nbsp{{ article.createdAt | date  ('H:i') }}&nbsp dans la catégorie &nbsp<strong>{{ article.category.content }}</strong>
          </div>
          <div class = "content">
               <img src=" {{ article.image }} " alt="">
               </br>
               {{ article.content | raw}}  
          </div>     
     </article>
       </br>   
       <div>
          <section class="commentaires">
               <div class="container">
               <h1 style="text-align:center;background-color:yellow">{{ article.commentaires | length }} commentaires :</h1> 
                    <div class="row">
                    
                         <div class="col-3">
                              <h3><strong style="color:blue">Auteur</strong></h3>
                         </div>
                         <div class="col-3">
                              <h3><strong style="color:blue">Date</strong></h3>
                         </div>
                         <div class="col">
                              <h3><strong style="color:blue">Commentaire</strong></h3>
                         </div>
                   
                    </div>
               </div>
               {% for commentaire in article.commentaires %}
               <div class="container">
                    <div class="content">
                         <div class="row">
                              <div class="col-3">
                                   {{ commentaire.author }} 
                              </div>
                              <div class="col-3">
                                   <strong>{{ commentaire.createdAt | date('d/m/Y)') }}</strong> à {{ commentaire.createdAt | date  ('H:i') }}
                              </div>
                              <div class="col">
                                   <p>{{ commentaire.content | raw}}</p>
                              </div>
                         </div>
                    </div>
               </div>  
                <hr>   
               {% endfor %}
          </section>
       </div>
       
</div>

{% endblock %}